/* @font-face {
    font-family: 'Dovemayo_gothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.1/Dovemayo_gothic.woff2')
        format('woff2');
    font-weight: normal;
    font-style: normal;
} */

@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2')
        format('woff2');
    font-weight: 700;
    font-style: normal;
}

/* @font-face {
    font-family: 'OAGothic-ExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/OAGothic-ExtraBold.woff2')
        format('woff2');
    font-weight: 800;
    font-style: normal;
} */

body {
    /* font-family: 'Dovemayo_gothic'; */
    font-family: 'TheJamsil5Bold';
    /* font-family: 'OAGothic-ExtraBold'; */
}
